@layer fonts {
    /* open-sans-regular - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: url('./fonts/open-sans-v44-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* open-sans-600 - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        src: url('./fonts/open-sans-v44-latin_latin-ext-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* open-sans-700 - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/open-sans-v44-latin_latin-ext-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* open-sans-800 - latin_latin-ext */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        src: url('./fonts/open-sans-v44-latin_latin-ext-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer typography {
    :root {
        --ff-open: 'Open Sans', Arial, Helvetica, sans-serif;
        --fs-48: calc(48 / 16 * 1rem);
        --fs-40: calc(40 / 16 * 1rem);
        --fs-32: calc(32 / 16 * 1rem);  
        --fs-24: calc(24 / 16 * 1rem);
        --fs-20: calc(20 / 16 * 1rem);
        --fs-16: calc(16 / 16 * 1rem);
        --font-size-h1: var(--fs-24);
        --font-size-h1-span: var(--fs-32);
        --font-size-h2: var(--fs-24);
        --font-size-h3: var(--fs-20);
        --font-size-p: var(--fs-16);

        @media (width >= calc(750 / 16 * 1rem)) {
            --font-size-h1: var(--fs-32);
            --font-size-h1-span: var(--fs-40);
            --font-size-h2: var(--fs-24);
            --font-size-h3: var(--fs-20);
        }

        @media (width >= calc(1100 / 16 * 1rem)) {
            --font-size-h1: var(--fs-40);
            --font-size-h1-span: var(--fs-48);
            --font-size-h2: var(--fs-32);
            --font-size-h3: var(--fs-24);
            --font-size-p: var(--fs-20);
        }
    }

    h1 {
        font-size: var(--font-size-h1);
        font-weight: 600;
        letter-spacing: 0.05em;

    }

    span {
        font-size: var(--font-size-h1-span);
        font-weight: 800;
    }

    h2 {
        font-size: var(--font-size-h2);
        font-weight: 700;
        letter-spacing: 0.03em;
    }

    h3 {
        font-size: var(--font-size-h3);
        font-weight: 600;
        letter-spacing: 0.03em;
    }

    h1,
    h2,
    h3 {
        margin: 0;
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    p {
        text-align: center;
    }

    p {
        font-size: var(--font-size-p);
        font-weight: 500;
        letter-spacing: 0.01em;
        line-height: 1.3;
        padding: 0;
        margin: 0;
    }
}

@layer colors {
    :root {
    --c-bg: hsl(30, 3%, 76%);
    --c-text: hsl(0, 0%, 100%);
    --c-accent: hsl(21, 59%, 75%);
    --c-banner-bg: hsl(210, 7%, 18%);
    --c-buy-btn-bg: hsl(21, 28%, 34%);
    --c-section-bg: hsl(0, 0%, 97%);
    --c-section-text: #1d1c1c;
    }
}

@layer decoration {
    .img-shadow {
        box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
    }
}

@layer global {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: var(--ff-open);
        background: var(--c-bg);
        color: var(--c-text);
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }

    a:visited,
    a:active {
        color: inherit;
    }

    ul,
    ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

@layer layout {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr calc(100% - 64px) 1fr;

        @media (width >= calc(750 / 16 * 1rem)) {
            grid-template-columns: 1fr min(calc(100% - 80px), calc(1110 / 16 * 1rem)) 1fr;
        }

        > * {
            grid-column: 2;
        }
    }
}

@layer banner {
    .banner {
        background-color: var(--c-banner-bg);

        p {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 0.02em;
            padding-block: 10px;
            text-transform: uppercase;
        }
    }
}

@layer button {
    .button {
        font-weight: 700;
        text-transform: uppercase;
        background: var(--c-buy-btn-bg);
        letter-spacing: 0.05em;
        width: fit-content;
        padding: 10px 20px;
        transition: 250ms ease-in-out;
        transition-property: color, border-radius;
        
        &:hover {
            color: var(--c-section-text);
            border-radius: 25px;
            box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
        }
    }
}

@layer header {
    .header {
        padding-block: 20px;

        .header-logo,
        .header-links {
            grid-row: 1;
        }

        .header-logo {
            
            @media (width >= calc(750 / 16 * 1rem)) {
                width: 220px;
            }
        }

        .header-links {
            display: flex;
        }
    }
}

@layer topnav {
    .topnav {
        justify-content: end;
        align-items: center;
    }

    .topnav button {
        background: none;
        border: none;
        padding: 0;

        @media (width >= calc(750 / 16 * 1rem)) {
            display: none;
        }
    }

    .topnav__open[aria-expanded='true'] + .topnav__menu {
        translate: 0;

        @media (prefers-reduced-motion) {
            opacity: 1;
        }
    }

    .topnav__close {
        display: block;
        margin-inline-start: auto;
        margin-block-end: 5rem;
        position: relative;
        top: 0;
        right: 12px;

        img {
            width: 2.5rem;
        }
    }

    .topnav__menu {

    @media (width < calc(750 / 16 * 1rem)) {
        position: fixed;
        inset: 59px 0 0 0;
        padding: 1.5rem;
        background-color: var(--c-banner-bg);
        translate: 100vw 0;
        transition: translate 0.5s ease-in-out;
    }

        @media (width < calc(750 / 16 * 1rem)) and (prefers-reduced-motion) {
            translate: 0;
            opacity: 0;
            transition: opacity 500ms ease-in-out;
        }

        @media (width >= calc(582 / 16 * 1rem)) {
            inset: 39px 0 0 0;
        }
    }

    .topnav__links {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: 0;
        padding: 0;
        font-weight: 600;

        @media (width < calc(750 / 16 * 1rem)) {
            flex-direction: column;
        }

        @media (width >= calc(1000 / 16 * 1rem)) {
            font-size: 17px;
        }

        
    }

    .topnav__item {
        list-style-type: none;

        &:last-child {
            @media (width < calc(750 / 16 * 1rem)) {
                display: block;
                margin-top: 40px;
            }

            @media (width >= calc(750 / 16 * 1rem)) {
                margin-inline-start: 30px;
            }
        }

        &:hover {
            color: var(--c-buy-btn-bg);
            text-shadow: 1px 2px 5px rgba(111,79,62,0.6);
        }
    }
}

@layer hero {
    .hero {
        padding: 20px 0 40px 0;
        justify-items: center;

        @media (width >= calc(700 / 16 * 1rem)) {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/hero.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

    }

    .hero-img {
        img {
            width: 300px;
            padding-block-end: 40px;

            @media (width >= calc(700 / 16 * 1rem)) {
                    position: relative;
                    top: 50px;                
            }
        }
    }

    .hero-content {
        display: flex;
        flex-direction: column;

        @media (width >= calc(700 / 16 * 1rem)) {
            align-items: center;
            position: relative;
            top: 15px; 
        }

        h1 {
            padding-block-end: 25px;
            width: 20ch;
        }

        p {
            width: 30ch;

            @media (width >= calc(750 / 16 * 1rem)) {
                width: 38ch;
            }

            @media (width >= calc(1100 / 16 * 1rem)) {
                width: 45ch;
            }
        }

        a {
            margin-block-start: 40px;
            align-self: center;
        }
    }
}

@layer author {
    .author {
        gap: clamp(20px, 5vw, 60px);
        padding-block: 40px;
        justify-items: center;
        align-items: center;
        background-color: var(--c-section-bg);

        @media (width >= calc(700 / 16 * 1rem)) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
        }
    }

    .author-img {

        img {
            width: clamp(200px, 25vw, 300px);
            border-radius: 20px;

            @media (width >= calc(700 / 16 * 1rem)) {
                align-items: center;
            }
        }
    }

    .author-content {
        display: flex;
        flex-direction: column;
        color: var(--c-section-text);
        justify-content: center;

        @media (width >= calc(700 / 16 * 1rem)) {
            padding-right: 20px;
        }

        h2 {
            margin: 0 auto;
            padding-block-start: 25px;

            @media (width >= calc(700 / 16 * 1rem)) {
                padding-block-start: 0;
            }
        }

        p {
            width: clamp(25ch, 50vw, 60ch);
            padding-block-start: 25px;
        }
    }
}

@layer books {
    .books-mobile {
        display: grid;
        place-items: center;
        text-align: center;
        gap: 15px;
        padding-block-start: 20px;
        
        a {
            display: block;
            margin: 0 auto;
            margin: 20px auto 0 auto;
        }
    }

    .books-mobile .mobile-book {
    width: 150px;
}

    @media (width >= calc(700 / 16 * 1rem)) {
        .books-mobile {
            display: none;
        }
    }

    .books {
        padding-block: 40px;

        @media (width >= calc(700 / 16 * 1rem)) {
            display: block;
        }
    }

    .books-box {
        display: flex;
        margin-block-start: 40px;
        align-items: center;
        justify-content: center; 

        @media (width < calc(700 / 16 * 1rem)) {
            display: none;
        }

        .books-item,
        .books-content {
            width: auto;
        }

        .books-item {

            img {
                width: clamp(200px, 25vw, 300px);
                margin: 0 auto;
                justify-content: center;
            }
        }

        .books-content {
            margin-left: clamp(20px, 3vw, 40px);

            h3 {
                margin-block-end: 20px;
                text-align: left;
            }

            p {
                width: clamp(45ch, 50vw, 60ch);
                text-align: left;
            }

            a {
                display: block;
                margin-top: 30px;

                @media (width >= calc(700 / 16 * 1rem)) {
                    margin-inline: auto;
                }
        
            }
        }
    }
}

@layer contact {
    .contact {
        background-color: var(--c-section-bg);
        color: var(--c-section-text);
        padding-block-start: 40px;
    }

    .contact-box {
        display: block;
        padding-block: 40px;
        align-items: center;

        @media (width >= calc(700 / 16 * 1rem)) {
            display: flex;
            width: auto;
            gap: 50px;
            margin: 40px auto;
            padding-block: 0;
        }
    }

    .contact-box__email {
        text-align: center;

        a {
            color: var(--c-buy-btn-bg);

            &:hover {
            transform: scale(1.2);
            color: var(--c-buy-btn-bg);
            text-shadow: 1px 2px 5px rgba(111,79,62,0.6);
            }
        }
    }

.contact-box__email h3,
.contact-box__social h3 {
    margin-block-end: 25px;
    position: relative;
    padding-bottom: 1px;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;  
        background: var(--c-text);

        @media (max-width: calc(700 / 16 * 1rem)) {
            width: 200px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
    .contact-box__email h3 {
         @media (max-width: calc(700 / 16 * 1rem)) {
            
            &::before {
                width: 165px;
            }
        }
    }

    .contact-box__social {
        
        @media (width < calc(700 / 16 * 1rem)) {
            margin-block-start: 25px;
        }

        ul {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        img {

            &:hover {
            transform: scale(1.2);
            }
        }
    }

    .facebook {
        background-color: var(--c-text);
    }
}

@layer newsletter {
    .newsletter {
        background-color: var(--c-banner-bg);
        color: var(--c-color);
        padding-block: 40px;
        margin-bottom: 40px;
    
        p {
            font-size: var(--fs-20);
        }
    }

    .newsletter-span {
        font-size: var(--fs-20);
        color: var(--c-buy-btn-bg);
        text-transform: uppercase;
    }

    .newsletter-box {
        max-width: 500px;
        margin: 0 auto;

        @media (max-width: 480px) {
            .newsletter-form input,
            .newsletter-form button {
                flex: none; 
                width: 100%;
                max-width: 300px;
                margin: 0 auto;
            }
        }
    }

    .newsletter-form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
    }

    .newsletter-form input {
        flex: 1 1 150px;
        padding: 8px 12px;
        border: 1px solid var(--c-buy-btn-bg);
        caret-color: var(--c-buy-btn-bg);
        
        &:focus {
            box-shadow: 0 0 0 2px var(--c-buy-btn-bg);
            outline: none;
            transition: border-color 0.2s, box-shadow 0.2s;
        }
    }

    .newsletter-form button {
        padding: 8px 16px;
        background-color: var(--c-buy-btn-bg);
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .newsletter-form button:hover {
        border-radius: 25px;
        box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 11px -7px rgba(0,0,0,0.75);
    }
}

@layer footer {
    .footer {
        padding-block: 20px;

        p {
            font-size: var(--fs-16);
        }
    }
}